# Example config for nsjail

name: "firefox-with-net"

description: "This policy allows to run firefox inside a jail. Access to networking is"
description: "permitted with this setup (clone_newnet: false)."
description: ""
description: "The only permitted home directory is $HOME/.mozilla and $HOME/Downloads."
description: "The rest of available on the FS files/dires are libs and X-related files/dirs."
description: ""
description: "Run as:"
description: ""
description: "./nsjail --config configs/firefox-with-net.cfg"
description: ""
description: "You can then go to https://uploadfiles.io/ and try to upload a file in order"
description: "to see how your local directory (also, all system directories) look like."

mode: ONCE
hostname: "FIREFOX"
cwd: "/user"

time_limit: 0

clone_newnet: false

envar: "HOME=/user"
envar: "DISPLAY"
envar: "TMP=/tmp"

rlimit_as: 4096
rlimit_cpu: 1000
rlimit_fsize: 1024
rlimit_nofile: 512

uidmap {
	inside_id: "9999999"
}

gidmap {
	inside_id: "9999999"
}

mount {
	dst: "/proc"
	fstype: "proc"
	rw: true
}

mount {
	src: "/nix"
	dst: "/nix"
	is_bind: true
}

mount {
	src: "/run/current-system/sw/bin"
	dst: "/run/current-system/sw/bin"
	is_bind: true
}

mount {
	src: "/dev/urandom"
	dst: "/dev/urandom"
	is_bind: true
	rw: true
}

mount {
	src: "/dev/null"
	dst: "/dev/null"
	is_bind: true
	rw: true
}

mount {
	src_content: "nameserver 8.8.8.8"
	dst: "/etc/resolv.conf"
}

mount {
	dst: "/tmp"
	fstype: "tmpfs"
	rw: true
	is_bind: false
}

mount {
	dst: "/dev/shm"
	fstype: "tmpfs"
	rw: true
	is_bind: false
}

mount {
	dst: "/user"
	fstype: "tmpfs"
	rw: true
}

mount {
	prefix_src_env: "HOME"
	src: "/Downloads"
	dst: "/user/Downloads"
	rw: true
	is_bind: true
	mandatory: false
}

# mount {
# 	prefix_src_env: "HOME"
# 	src: "/.mozilla"
# 	dst: "/user/.mozilla"
# 	is_bind: true
# 	rw: true
# 	mandatory: false
# }

mount {
	src: "/tmp/.X11-unix/X0"
	dst: "/tmp/.X11-unix/X0"
	is_bind: true
}

seccomp_string: "KILL {"
seccomp_string: "	ptrace,"
seccomp_string: "	process_vm_readv,"
seccomp_string: "	process_vm_writev"
seccomp_string: "}"
seccomp_string: "DEFAULT ALLOW"

exec_bin {
	path: "/nix/store/ki11jdvms7q2zr4k15gvqz048dwvb0b9-firefox-89.0.2/bin/firefox"
}
